<form action ="/students/<%=@student.id%>/delete"  method = "post">
<p><%=@student.first_name%></p>
<p><%=@student.second_name%></p>
<p><%=@student.house%></p>
<p><%=@student.age%></p>
<input type ="submit" value="delete">
<form>